{% comment %} EJB replaced gh/vercel badges by static GH img 2026-02 for self hosting {% endcomment %}
{% assign lang = site.active_lang | split: '-' | first %}
{% if lang == 'pt' %}
  {% assign lang = site.active_lang %}
{% endif %}

<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.username }}">
    {% comment %} available locales: https://github.com/anuraghazra/github-readme-stats?tab=readme-ov-file#available-locales {% endcomment %}
    {{ include.username }}
    <img
      class="only-light w-100"
      alt="{{ include.username }}"
      src="/assets/img/github.png"
    >
    <img
      class="only-dark w-100"
      alt="{{ include.username }}"
      src="/assets/img/github-inv.png"
    >
  </a>
</div>
