/** Style for opieters Lightgallery pages - adapted Egbert 2024/03 */

.lg-outer .lg-img-wrap {
    max-width:100vw;
    max-height: 100vh;
}

.image-ref {
  padding-bottom: 5px;
  padding-left: 5px;
}

.caption {
  color: var(--global-bg-color);
}

$on-palm: 600px;

.row {
  width: 100%;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  /* base definition */
  .column {
    float: left;
    display: block;
    box-sizing: border-box;
  }

  @media screen and (min-width: $on-palm) {
    .left {
      margin-left: 0;
      margin-right: 2%;
    }
    .right {
      margin-left: 2%;
      margin-right: 0;
    }
  }
}
