---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "flag-icons/flag-icons"
;

/* mobile friendly EBR */
img, embed, object, video {
   max-width: 200%;
   height: auto;
   border-style: none;
}

/* breedte uit stijl hiervoor uitschakelen */
.vrijebreedte {
  width: auto;
}

/* kleinere letter */
.kleiner .smaller figcaption {
  font-size: 60%;
}

/* position prev/next divs in collection index )roster, books, projects) */
div.left {
  align: left;
}

div.right {
  align: right;
}

/*
** CUSTOM STYLES for Book reviews
*/

// Increase space around the book cover
.book-cover {
    margin: 2rem 0;
}

// Center image
.book-cover img {
    margin: 0 auto;
}

// Position cover caption
.book-cover figcaption {
    text-align: center;
    margin-top: 1rem;
}
