---
layout: default
lang: en-us
lang-exclusive: ['en-us']
support: [gallery]
# individual pages for each art-gallery
header:
  title: Some Title
  background-color: "#6B8A78"
---

<div id="art-gallery">
  <!-- {{ page.captions }} -->
{% for image in page.images %}

<a href="{{ image }}" class="image-ref">
{% if page.captions[image] == nil %}
<img
  src="thumbs/{{ image }}"
  data-caption="Photo by EJB"
  alt="{{ image }}"
/>
{% else %}
<img
  src="thumbs/{{ image }}"
  alt="{{ page.captions[image] }}"
  data-caption="{{ page.captions[image] }}"
  title="{{ page.captions[image] }}"
/>
{% endif %}
</a>
{% endfor %}
</div>

{{ page.description }}

<script>
  window.addEventListener("DOMContentLoaded", () => {
    lightGallery(document.getElementById("art-gallery"), {
      plugins: [lgThumbnail, lgZoom, lgAutoplay, lgFullscreen],
      speed: 500,
      selector: ".image-ref",
      thumbnails: true,
      thumbWidth: 60,
      thumbHeight: "40px",
      thumbMargin: 4,
      showMaximizeIcon: true,
      mobileSettings: {
        controls: false,
        showCloseIcon: true,
        download: false,
        rotate: false,
        thumbnail: false,
      },
    });

    // init isotope
    var $grid = $("#art-gallery");
    $grid.isotope({
      percentPosition: true,
      itemSelector: ".image-ref",
      layoutMode: "masonry",
      gutter: 5,
    });

    // layout Isotope after each image loads
    $grid.imagesLoaded().progress(function () {
      $grid.masonry();
    });
  });
</script>
