---
layout: default
support: [gallery]
# This page is used for the main index of art-galleries
header:
  title: Some Title
  background-color: "#6B8A78"
---

<div id="image-gallery">
    {% for image in page.images %}
      <a href="{{ image }}"  class="image-ref">
        {% if page.captions[image] == nil %}
        <img data-caption="<a class='clearing-link' href='/contact/'>Ask me about this work</a>" src="thumbs/{{ image }}" />
        {% else %}
        <img
          data-caption="{{ page.captions[image] }}.  <a class='clearing-link' href='/contact/'>Ask me about this work</a>"
          src="thumbs/{{ image }}"
          alt="{{ page.captions[image] }}"
          title="{{ page.captions[image] }}"
        />
        {% endif %}
      </a>
    {% endfor %}
</div>

{{ page.description }}

<script>
  window.addEventListener('DOMContentLoaded',() =>{
    lightGallery(document.getElementById("image-gallery"), {
      plugins: [lgThumbnail, lgZoom, lgAutoplay, lgFullscreen],
      speed: 500,
      selector: '.image-ref',
      thumbnails: true,
      thumbWidth: 60,
      thumbHeight: "40px",
      thumbMargin: 4,
      showMaximizeIcon: true,
      mobileSettings: {
        controls: false,
        showCloseIcon: true,
        download: false,
        rotate: false,
        thumbnail: false,
      }
    });

  // init isotope
  var $grid = $('#image-gallery');
  $grid.isotope({
    percentPosition: true,
    itemSelector: '.image-ref',
    layoutMode: "masonry",
    gutter: 5
  });

  // layout Isotope after each image loads
  $grid.imagesLoaded().progress( function() {
    $grid.masonry();
  });
  });
</script>
