---
layout: default
support: [gallery]
# This page is used for the main index of art-galleries
---

<div id="image-gallery">
    {% for gallery in page.galleries %}
      <a href="{{ site.baseurl }}{{ gallery['link'] }}" class="image-ref">
        <img class="gallery-best-image" src="{{ site.baseurl }}{{ gallery['link'] }}thumbs/front_{{ gallery['best_image'] }}" />
      </a>
      <h3><a href="{{ site.baseurl }}{{ gallery['link'] }}">{{ gallery["title"] }}</a></h3>
    {% endfor %}
</div>

<script>
  // init isotope
  var $grid = $('#image-gallery');
  $grid.isotope({
    percentPosition: true,
    itemSelector: '.image-ref',
    layoutMode: "masonry",
    gutter: 5
  });

  // layout Isotope after each image loads
  $grid.imagesLoaded().progress( function() {
    $grid.masonry();
  });
  });
</script>
