---
layout: default
support: [gallery]
# This page is used for opieters gallery pages
---
â† {{ site.data[site.active_lang].strings['art-gallery']['back-to'] }}
<a href="index.html">Gallery Index</a>
{{ content }}
