---
layout: default
---

<article class="post h-entry">
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      {{ site.data[site.active_lang].strings.books.written-by }} {{ page.author }} ({{ page.year }}) · {{
      site.data[site.active_lang].strings.books.read-on }} {% include date_format.liquid format='short' date_from=page %}
    </p>
  </header>
  <figure class="book-cover row-cols-1">
    {% if page.cover %}
    <img alt="{{ page.title }} cover" src="{{ site.baseurl }}/assets/img/bookcovers/{{ page.cover }}" />
    <figcaption>{{ site.data[site.active_lang].strings.books.cover-of }} <em>{{ page.title }}</em></figcaption>
    {% elsif page.olid %}
    <img alt="{{ page.title }} cover" src="http://covers.openlibrary.org/b/olid/{{ page.olid }}-L.jpg?default=false" />
    <figcaption>
      {{ site.data[site.active_lang].strings.books.cover-of }} <em>{{ page.title }}</em> {{ site.data[site.active_lang].strings.books.cover-from }}
      <a href="https://openlibrary.org/olid/{{ page.olid }}">Open Library</a>.
    </figcaption>
    {% elsif page.isbn %}
    <img alt="{{ page.title }} cover" src="http://covers.openlibrary.org/b/isbn/{{ page.isbn }}-L.jpg?default=false" />
    <figcaption>
      {{ site.data[site.active_lang].strings.books.cover-of }} <em>{{ page.title }}</em> {{ site.data[site.active_lang].strings.books.cover-from }}
      <a href="https://openlibrary.org/isbn/{{ page.isbn }}">Open Library</a>.
    </figcaption>
    {% else %}{{ site.data[site.active_lang].strings.rollingstock.no-image }}{% endif %}
  </figure>

  <div class="post-content e-content" itemprop="articleBody">{{ content }}</div>

  {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%} {%- endif -%}

  <section id="more">
    <div class="row">
      <div class="col-sm">
        {% if page.previous %} {% assign previous = page.previous %} {% else %} {% assign previous = site.books[0] %} {% endif %}
        <div class="left">
          <a
            class="equalize"
            href="{{site.baseurl}}{{previous.url}}"
            title="{{ site.data[site.active_lang].strings.books.prev-book }}: {{previous.title}}"
          >
            <div>
              ← {{ site.data[site.active_lang].strings.books.prev-book }}
              <h6>{{ previous.title }}</h6>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm">
        {% if page.next %}{% assign next = page.next %}{% else %}{% comment %}As the array index starts at zero we subtract 1 from the total count, we
        then get the last book index in the site.books array{% endcomment %}{% assign lastProjectIndex = site.books | size | minus: 1 %}{% assign next
        = site.books[lastProjectIndex] %}{% endif %}
        <div class="right">
          <a class="equalize" href="{{site.baseurl}}{{next.url}}" title="{{ site.data[site.active_lang].strings.books.next-book }}: {{next.title}}">
            <div>
              {{ site.data[site.active_lang].strings.books.next-book }} →
              <h6>{{ next.title }}</h6>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</article>
