---
layout: default
---

<article class="post h-entry">
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.roster-id }}</h1>
    <p class="post-meta">
      {{ site.data[site.active_lang].strings.rollingstock.mfg }} {{ page.mfg }} · {{ site.data[site.active_lang].strings.rollingstock.model }} {{
      page.model }} · {{ site.data[site.active_lang].strings.rollingstock.acquired }} {{ page.year }}
    </p>
  </header>
  {% if page.picture %}
  <figure class="picture row-cols-1">
    <img alt="{{ page.title }}" src="{{ site.baseurl }}/assets/img/rostercovers/{{ page.picture }}" />
    <figcaption><em>{{ page.mfg }} - {{ page.roster-id }}</em></figcaption>
  </figure>
  {% else %}{{ site.data[site.active_lang].strings.rollingstock.no-image }}{% endif %}
  <ul>
    <li>Road name: {{ page.roadName }}</li>
    <li>DCC address: {{ page.dccAddress }}</li>
    <li>Decoder model: {{ page.decoder.model }}</li>
    <li>Decoder remarks: {{ page.decoder.comment }}</li>
  </ul>

  <div class="post-content e-content" itemprop="articleBody">{{ content }}</div>

  <section id="more">
    <div class="row">
      <div class="col-sm">
        {% if page.previous %}{% assign previous = page.previous %}{% else %}{% assign previous = site.rollingstock[0] %}{% endif %}
        <div class="left">
          <a
            class="equalize"
            href="{{site.baseurl}}{{previous.url}}"
            title="{{ site.data[site.active_lang].strings.rollingstock.prev-item }}: {{previous.id}}"
          >
            <div>
              ← {{ site.data[site.active_lang].strings.rollingstock.prev-item }}
              <h6>{{ previous.title | upcase }}</h6>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm">
        {% if page.next %}{% assign next = page.next %}{% else %}{% comment %}As the array index starts at zero we subtract 1 from the total count, we
        then get the last item index in the site.rollingstock array{% endcomment %}{% assign lastRosterIndex = site.rollingstock | size | minus: 1 %}
        {% assign next = site.rollingstock[lastRosterIndex] %}{% endif %}
        <div class="right">
          <a
            class="equalize"
            href="{{site.baseurl}}{{next.url}}"
            title="{{ site.data[site.active_lang].strings.rollingstock.next-item }}: {{next.id}}"
          >
            <div>
              {{ site.data[site.active_lang].strings.rollingstock.next-item }} →
              <h6>{{ next.title | upcase }}</h6>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</article>
